@{
    ViewData["Title"] = "Confirm user group";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar al usuario. Ahora ya es parte de un grupo y puede ver cada uno de tus viajes en tiempo real.
    </p>
</div>